accelerate==1.6.0
bitsandbytes==0.45.5
deepspeed==0.16.7
datasets==3.5.0
dill==0.3.8
einops==0.8.1
flash_attn==2.5.5
fsspec==2024.6.1
huggingface-hub==0.30.2
joblib==1.4.2
numpy==2.1.2
pandas==2.2.3
peft==0.15.2
protobuf==3.20.3
pyarrow==19.0.1
pydantic==2.11.3
regex==2024.11.6
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
sentencepiece==0.2.0
tokenizers==0.21.1
torch==2.6.0
torch-geometric==2.6.1
torch_cluster==1.6.3+pt26cu124
torch_scatter==2.1.2+pt26cu124
torch_sparse==0.6.18+pt26cu124
torch_spline_conv==1.2.2+pt26cu124
torchaudio==2.4.0+cu124
torchvision==0.21.0
transformers==4.51.3
trl==0.15.2
tqdm==4.67.1
unsloth==2025.3.19
unsloth_zoo==2025.3.17
wandb==0.19.10
